// GENERAL NAVIGATION STYLES

header {
    nav {
        padding-top: 30px;
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            li {
                display: flex;
                justify-content: center;
                a {
                    margin: 0 20px;
                    text-transform: uppercase;
                    .underline {
                        height: 1px;
                        width: 0px;
                        transition: 300ms linear;
                        justify-content: center;
                    }
                    &:hover {
                        .underline {
                            width: 100%;
                            transition: 300ms linear;
                        }
                    }
                }
            }
        }
    }
}