@import '_variables';
@import 'home-page';
@import 'shop';
@import 'nav';

* {
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid $main-color;
    margin: 20px 0;
    padding-bottom: 6px;
    font-weight: 200;
}

h3 {
    font-weight: 300;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

button {
    background-color: $main-color;
    border: 1px solid $main-color;
    color: #fff;
    width: 240px;
    height: 45px;
    text-transform: uppercase;
    font-size: 16px;
    transition: all 300ms linear;
    font-family: 'Poppins', sans-serif;
    &:hover {
        cursor: pointer;
        background-color: #fff;
        color: $main-color;
        transition: all 300ms linear;
    }
}

form {
    label {
        display: block;
    }
    input[type="text"],
    input[type="submit"],
    input[type="email"],
    textarea {
        padding: 5px;
        border: 1px solid $main-color;
        width: 100%;
        height: 35px;
        margin: 5px 0;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
    }
    textarea {
        height: 100px;
    }
    input[type="submit"] {
        background-color: $main-color;
        border: 1px solid $main-color;
        color: #fff;
        width: 100px;
        height: 50px;
        text-transform: uppercase;
        font-size: 20px;
        transform: translateY(-40px);
        transition: all 300ms linear;
        font-family: 'Poppins', sans-serif;
        &:hover {
            cursor: pointer;
            background-color: #fff;
            color: $main-color;
            transition: all 300ms linear;
        }
    }
    select {
        padding: 5px;
        width: 100px;
        appearance: none;
        border: 1px solid $main-color;
        color: $main-color;
        border-radius: 0px;
        margin-bottom: 10px;
        background-image: url('http://cdn.onlinewebfonts.com/svg/img_295694.svg');
        background-repeat: no-repeat;
        background-position: 90% 50%;
        background-size: 10px;
        background-color: white;
        font-family: 'Poppins', sans-serif;
        option {
            font-family: 'Poppins', sans-serif;
        }
    }
}

.btn {
    padding: 8px 40px;
    text-transform: uppercase;
    transition: all 300ms linear;
    &:hover {
        transition: all 300ms linear;
    }
}

.home {
    nav {
        ul {
            li {
                a {
                    color: white;
                    &:hover {
                        .underline {
                            background-color: white;
                        }
                    }
                }
            }
        } 
    }
    background-image: url('../images/illusion.jpg');
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .homepage-container {
        color: white;
        border: 1px solid white;
        width: 90%;
        margin: 100px auto 50px;
        font-weight: 300;
        text-transform: uppercase;
        padding: 10px;
        h1 {
            font-size: 32px;
            letter-spacing: 0.1rem;
            font-family: 'Playfair Display', serif;
        }
        .caption {
            margin: 5px 0;
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 200;
            .name-bar {
                width: 10px;
                height: 1px;
                margin: 0 5px;
                background-color: white;
            }
        }
        .logo {
            background: rgba(133, 133, 133, 0.6);
            border: 5px solid rgb(206, 206, 206);
            width: 60px;
            margin: 10px 0 0;
        }
    }
    .shop-btn {
        border: 1px solid white;
        color: white;
        &:hover {
            background: white;
            color: rgb(23, 22, 22);
        }
    }
}

.about {
    padding: 30px 20px 100px;
    img {
        width: 100%;
        margin: 0 auto;
        border: 2px solid $main-color;
    }
    .image-signature {
        display: none;
    }
    .about-content {
        p {
            font-size: 14px;
            line-height: 1.5;
            margin: 12px 0;
        }
    }
    .signature {
        margin-top: 20px;
        p {
            margin: 0;
        }
    }
}

.contact {
    padding: 20px;
    .icons {
        width: 40%;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        .email,
        .instagram {
            text-align: center;
        }
        a {
            color: $main-color;
            transition: all 300ms linear;
            &:hover {
                i, 
                .icon-title {
                    color: $hover-color;
                    transition: all 300ms linear;
                }
            }
            i {
                font-size: 25px;
                color: $main-color;
            }
            .icon-title {
                font-size: 12px;
                display: none;
            }
        }
    }
    .message-title {
        padding: 10px 0;
        text-align: left;
        font-size: 15px;
    }
    form {
        text-align: center;
        input[type="submit"] {
            background-color: $main-color;
            border: 1px solid $main-color;
            color: #fff;
            width: 100px;
            height: 50px;
            text-transform: uppercase;
            font-size: 20px;
            transform: translateY(-40px);
            &:hover {
                background-color: #fff;
                color: $main-color;
            }
        }
    }
}

footer {
    margin-top: 50px;
    border-top: 1px solid $main-color;
    color: $main-color;
    padding: 30px;
    text-align: center;
    font-size: 12px;
    a {
        color: $hover-color;
    }
    .instagram {
        margin: 20px 0 0;
        a {
            transition: all 300ms linear;
            color: $main-color;
            font-size: 16px;
            &:hover {
                transition: all 300ms linear;
                color: $hover-color;
            }
        }
    }
}


@media (min-width: 767px){
    h2 {
        margin-bottom: 30px;
    }
    .home {
        .homepage-container {
            width: 65%;
            margin: 100px auto 50px;
            padding: 15px;
            h1 {
                font-size: 60px;
            }
            .caption {
                font-size: 15px;
            }
            .logo {
                width: 70px;
            }
        }
    } 
    .about {
        padding: 60px;
        .about-container {
            display: flex;
            justify-content: space-evenly;
            .image-container {
                img {
                    width: 40vw;
                    margin-right: 20px;
                }
                .image-signature {
                    display: block;
                }
            }
            .about-content {
                p {
                    margin: 0 0 20px 0;
                }
                .content-signature {
                    display: none;
                }
            }
        }
    }
    .contact {
        padding: 60px;
        form {
            width: 60%;
            margin: 0 auto;
        }
        .icons {
            width: 60%;
            a {  
                .icon-title {
                    display: block;
                }
            }
        }
    }
    footer {
        padding: 30px 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .instagram {
            margin: 0;
        }
    }
}



@media (min-width: 1000px){
    .home {
        .homepage-container {
            width: 50%;
            padding: 20px;
            h1 {
                font-size: 70px;
            }
            .caption {
                margin: 15px 0;
            }
            .logo {
                width: 80px;
            }
        }
        .shop-btn {
            padding: 8px 50px;
            font-size: 18px;
        }
    }
    .contact {
        .icons {
            justify-content: space-around;
        }
    }
}






// SHOP

.shop {
    nav {
        ul {
            li {
                a {
                    color: $main-color;
                    &:hover {
                        .underline {
                            background-color: $main-color;
                        }
                    }
                }
            }
        } 
    }
}
.quickview-modal {
    display: none;
}

.modal-open {
    position: relative;
    .modal-overlay {
        height: 100vh;
        width: 100vw;
        opacity: 0.4;
        position: fixed;
        background-color: $main-color;
    }
    .quickview-modal {
        background: white;
        position: fixed;
        height: auto;
        width: 90%;
        left: 50%;
        margin-left: -45%;
        top: 10%;
        margin-top: -50px;
        z-index: 300;
        padding: 20px;
        box-shadow: 3px 3px 10px rgba(31, 31, 31, 0.247);
        .quickview-close-icon {
            position: absolute;
            right: 20px;
            z-index: 350;
            transition: all 300ms linear;
            &:hover {
                cursor: pointer;
                color: #04041c98;
                transition: all 300ms linear;
            }
        }
        .modal-flex-container {
            .quickview-image {
                display: none;
            }
            .modal-content {
                form {
                    margin: 20px 0;
                    label {
                        font-size: 14px;
                    }
                }
                .add-to-cart-btn {
                    border: 1px solid $main-color;
                    background-color: $main-color;
                    color: white;
                    &:hover {
                        cursor: pointer;
                        background: white;
                        color: $main-color;
                    }
                } 
                .shipping-policy {
                    font-size: 14px;
                    margin: 30px 0 0 0;
                    h4 {
                        font-size: 15px;
                        margin: 0 0 6px;
                    }
                }         
            }
        }
    }
    .products {
        .product-container {
            .product-item {
                .product-image-container {
                    img {
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}

.products {
    padding: 20px;
    .product-container {
        display: flex;
        flex-wrap: wrap;
        .product-item {
            width: 100%;
            .modal {
                display: none;
            }
            .product-image-container {
                position: relative;
                margin: 10px;
                overflow:hidden;
                img {
                    width: 100%;
                    border: 2px solid $main-color;
                }
                .quickview {
                    text-transform: uppercase;
                    transform: translateY(50px);
                    opacity: 0;
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    bottom: 7px;
                    width: 100%;
                    height: 50px;
                    border: none;
                    background: rgba(255, 255, 255, 0.6);
                    color: $main-color;
                    font-family: 'Poppins', sans-serif;
                    font-size: 15px;
                    transition: all 200ms linear;
                }
                &:hover {
                    .quickview {
                        transform: translateY(0px);
                        opacity: 1;
                        transition: all 200ms linear;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        } 
    }
}


@media (min-width: 767px){
    .modal-open {
        .quickview-modal {
            .quickview-close-icon {
                top: 15px;
            }
            .modal-flex-container {
                display: flex;
                .quickview-image-container {
                    width: 100%;
                    overflow: hidden;
                    .quickview-image {
                        width: 100%;
                        display: block;
                        transition: all 300ms linear;
                    }
                    &:hover {
                        .quickview-image {
                            transform: scale(1.5);
                            transition: all 300ms linear;
                        }    
                    }
                }
                .modal-content {
                    padding: 0 20px;
                    form {
                        margin: 20px 0;
                    } 
                }
            }
        }
    }    
    .products {
        padding: 60px;
        .product-container {
            .product-item {
                width: 50%;
            }
        }
    }
}


@media (min-width: 1000px){
    .modal-open {
        .quickview-modal {
            width: 70%;
            left: 50%;
            margin-left: -35%;
            padding: 25px;
            .modal-flex-container {
                .quickview-image {
                    width: 45%;
                }
            }
        }
    }    
    .products {
        .product-container {
            .product-item {
                width: 33.33%;
            }
        }
    }
}

// CHECKOUT
.checkout {
    padding: 20px;
    form {
        font-size: 14px;
        text-align: center;
        h3, 
        .cart-products {
            text-align: left;
        }
        h3 {
            margin-bottom: 6px;
            // font-weight: 200;
        }
        .checkout-block {
            margin-bottom: 30px;
        }
        select {
            display: block;
            width: 100%;
            height: 35px;
            background-position: 96% 50%;
            margin: 5px 0;
            font-size: 14px;
        }
        input[type="submit"]{
            transform: translateY(-70px);
        }
    }
}

@media (min-width: 767px){
    .checkout {
        padding: 60px;
        form {
            width: 80%;
            margin: 0 auto;
            .cart-products {
                .cart-product {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    justify-content: space-between;
                    label {
                        width: 48%;
                    }
                }
            }
        }
    }
}

@media (min-width: 1000px){
    .checkout {
        padding: 80px;
        h2 {
            width: 70%;
            margin: 0 auto 40px;
        }
        form {
            width: 50%;
            select {
                background-position: 98% 50%;
            }
        }
    }
}