$main-color: $main-color;

* {
    scroll-behavior: smooth;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(244, 241, 245);
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid $main-color;
    margin: 20px 0;
}

a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

header {
    nav {
        padding-top: 30px;
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            li {
                display: flex;
                justify-content: space-around;
                a {
                    color: white;
                    text-transform: uppercase;
                    padding-right: 20px;
                    .underline {
                        height: 1px;
                        width: 0px;
                        transition: 300ms linear;
                        justify-content: center;
                    }
                    &:hover {
                        .underline {
                            width: 100%;
                            background-color: white;
                            transition: 300ms linear;
                        }
                    }
                }
            }
        }
    }
    text-align: center;
    background-image: url('../images/illusion.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .homepage-container {
        color: white;
        border: 1px solid white;
        width: 90%;
        margin: 50px auto;
        font-weight: 300;
        text-transform: uppercase;
        h1 {
            font-size: 30px;
            letter-spacing: 0.1rem;
            font-family: 'Playfair Display', serif;
        }
        .caption {
            display: flex;
            align-items: center;
            justify-content: center;
            .name-bar {
                width: 10px;
                height: 1px;
                margin: 0 5px;
                background-color: white;
            }
        }
    }
    .shop-btn {
        border: 1px solid white;
        color: white;
        padding: 10px 30px;
        text-transform: uppercase;
        transition: all 300ms linear;
        &:hover {
            background: white;
            color: rgb(23, 22, 22);
            transition: all 300ms linear;
        }
    }
}

.about {
    padding: 20px;
    img {
        width: 100%;
        margin: 0 auto;
        border: 2px solid $main-color;
    }
    .about-content {
        p {
            line-height: 1.5;
            margin: 10px 0;
        }
    }
}

.contact {
    padding: 20px;
    .icons {
        width: 40%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        a {
            i {
                font-size: 20px;
                color: $main-color;
            }
        }
    }
    form {
        label {
            display: block;
            
        }
        input[type="text"],
        input[type="submit"],
        textarea {
            padding: 5px;
            border: 2px solid $main-color;
            width: 100%;
            height: 35px;
            margin: 5px 0;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
        }
        textarea {
            height: 60px;
        }
        input[type="submit"] {
            transition: all 300ms linear;
            &:hover {
                cursor: pointer;
                background-color: $main-color;
                color: white;
                transition: all 300ms linear;

            }
        }
    }
}


footer {
    background: $main-color;
    color: rgb(244, 241, 245);
    padding: 30px;
    text-align: center;
    a {
        color: rgb(244, 241, 245);
    }
}



@media (min-width: 767px){
    header {
        nav {
            a {
                padding-right: 40px;
            }
        }
        .homepage-container {
            width: 60%;
            margin: 100px auto 50px;
            h1 {
                font-size: 50px;
            }
        }
    }
    .about {
        .about-container {
            display: flex;
        }
    }
}


@media (min-width: 1000px){
    header {
        .homepage-container {
            width: 60%;
            h1 {
                font-size: 70px;
            }
        }
    }
}